<br>

<div class="card">

  <div class="card-header">

    <div class="float-left">
      <h4>Produtos</h4>
    </div>


    <div class="float-right">
      <!--button type="button" class="btn btn-primary" [routerLink]="['novoProduto']"-->
      <button (click)="openModal(template)" type="button" class="btn btn-primary">
        <!-- Pendente, novo produto -->
        Novo Produto
      </button>

      <!-- Abre um pop-up modal para inserir um novo produto -->
      <ng-template #template>

        <div class="modal-body text-center">
            <b>Criando novo hemocentro</b><br><br>
            <!--<form #cadastraProduto="ngForm">-->

            <!-- Camisa - Radio button -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="camisa" name="categoria" value="Camisa"
                [(ngModel)]="produto.categoria" (click)="showOpcoesCamisa()"> 
              <label class="custom-control-label" for="camisa">Camisa</label>
            </div>

            <!-- Caneca - Radio button -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="caneca" name="categoria" value="Caneca"
                [(ngModel)]="produto.categoria" (click)="showOpcoesCaneca()">
              <label class="custom-control-label" for="caneca">Caneca</label>
            </div>

            <!-- Botton - Radio button -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="botton" name="categoria" value="Botton"
                [(ngModel)]="produto.categoria" (click)="showOpcoesButton()">
              <label class="custom-control-label" for="botton">Botton</label>
            </div>
            <br><br>

            <!-- Nome -->
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do produto"
              [(ngModel)]="produto.nome">

            <br>

            <!-- Valor -->
            <input type="number" class="form-control" name="valorUnitario" id="valorUnitario"
              placeholder="Valor do produto" [(ngModel)]="produto.valorunitario">

            <br>

            <!-- Quantidade -->
            <input type="number" class="form-control" name="quantidade" id="quantidade" placeholder="Quantidade"
              [(ngModel)]="produto.quantidade">

            <br>

            <!-- Tamanho -->
            <div [hidden]="!mostrarTamanhos">
              Tamanhos:<br>
              <!-- P - Radio button -->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="P" name="tamanho" value="P"
                  [(ngModel)]="produto.tamanho">
                <label class="custom-control-label" for="P">P</label>
              </div>

              <!-- M - Radio button -->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="M" name="tamanho" value="M"
                  [(ngModel)]="produto.tamanho">
                <label class="custom-control-label" for="M">M</label>
              </div>

              <!-- G - Radio button -->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="G" name="tamanho" value="G"
                  [(ngModel)]="produto.tamanho">
                <label class="custom-control-label" for="G">G</label>
              </div>

              <!-- G - Radio button -->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="GG" name="tamanho" value="GG"
                  [(ngModel)]="produto.tamanho">
                <label class="custom-control-label" for="GG">GG</label>
              </div>

              <br><br>
            </div>


            <!-- Volume 
            <div [hidden]="!mostrarVolumes">
             
            </div>
          -->

            <!-- Material -->
            <div [hidden]="!mostrarMateriais">
              Materiais: <br>
              <!-- Porcelana - Radio button -->
              <div [hidden]="!mostrarMaterialPorcelana" class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="porcelana" name="material" value="Porcelana"
                  [(ngModel)]="produto.material">
                <label class="custom-control-label" for="porcelana">Porcelana</label>
              </div>

              <!-- Plastico - Radio button -->
              <div [hidden]="!mostrarMaterialPlastico" class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="plastico" name="material" value="Plastico"
                  [(ngModel)]="produto.material">
                <label class="custom-control-label" for="plastico">Plastico</label>
              </div>

              <!-- Aluminio - Radio button -->
              <div [hidden]="!mostrarMaterialAluminio" class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="aluminio" name="material" value="Aluminio"
                  [(ngModel)]="produto.material">
                <label class="custom-control-label" for="aluminio">Aluminio</label>
              </div>

              <!-- Algodão - Radio button -->
              <div [hidden]="!mostrarMaterialAlgodao" class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="algodao" name="material" value="Algodão"
                  [(ngModel)]="produto.material">
                <label class="custom-control-label" for="algodao">Algodão</label>
              </div>

              <!-- Malha - Radio button -->
              <div [hidden]="!mostrarMaterialMalha" class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="malha" name="material" value="Malha"
                  [(ngModel)]="produto.material">
                <label class="custom-control-label" for="malha">Malha</label>
              </div>

              <br><br>
            </div>

            <!-- Genero -->
            <div [hidden]="!mostrarGeneros">
              Generos:<br>
              <!-- Feminino - Radio button -->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="feminino" name="genero" value="Feminino"
                  [(ngModel)]="produto.genero">
                <label class="custom-control-label" for="feminino">Feminino</label>
              </div>

              <!-- Masculino - Radio button -->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="masculino" name="genero" value="Masculino"
                  [(ngModel)]="produto.genero">
                <label class="custom-control-label" for="masculino">Masculino</label>
              </div>

              <br><br>
            </div>


            <!-- Descrição -->
            <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Descrição"
              [(ngModel)]="produto.descricao">

            <br>

            <!-- Imagem -->
            <input type="text" class="form-control" name="url" id="url" placeholder="Url imagem" [(ngModel)]="produto.url">

            <br>

            <button type="button" class="btn btn-default" (click)="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="adicionarProduto()">Adicionar
              Produto</button>

          <!--</form>-->

        </div>

      </ng-template>

    </div>

  </div>



  <!-- Tabela para listar os produtos -->
  <div class="card-body">

    <!--Só vai mostrar produtos caso exista produtos-->

    <table id="produtos" class="table table-hover" *ngIf="produtos$ | async as produtos; else loadingError">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Nome</th>
          <th>Qtd</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let produto of produtos">
          <td>{{ produto.categoria }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>{{ produto.valorunitario }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                <!-- Pendendo botão atualizar -->
                Atualizar
              </button>
              {{ '' }}
              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="removerProduto(produto)">
                <!-- Pendente botão remover -->
                Remover
              </button>
            </span>
          </td>
        </tr>

      </tbody>

    </table>

    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        Erro ao carregar cursos. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
        <span>Carregando Produtos...</span>
      </ng-template>
    </ng-template>


  </div>

</div>