<!--
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
</head>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a
    class="navbar-brand text-danger"
    *ngIf="usuario_admin || !user"
    [routerLink]="['/']"
    >Tuntum</a
  >
  <button
    *ngIf="user || usuario_admin"
    class="navbar-toggler"
    type="button"
    (click)="serviceApp.cha = !serviceApp.cha"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand text-danger" *ngIf="!usuario_admin && user">Tuntum</a>
  <!-- <button (click)="serviceApp.cha = !serviceApp.cha" class="btn btn-primary">
    Teste
  </button> -->

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-danger">
      <li class="nav-link">
        <a *ngIf="usuario_hemocentro && usuario_admin">{{
          usuario_hemocentro
        }}</a>
      </li>
      <li class="nav-link text-danger">
        <a *ngIf="usuario_nome != ''"> Bem vindo(a), {{ usuario_nome }} </a>
      </li>
    </ul>
    <!-- Parte esquerda da barra de navegação -->

    <!-- Nome do usuário logado -->

    <li class="nav-link text-danger" *ngIf="!usuario_admin && !user">
      <a [routerLink]="['/info']">Dúvidas</a>
    </li>
    <li class="nav-link text-danger" *ngIf="!usuario_admin">
      <a [routerLink]="['/catalogo']">Loja Virtual</a>
    </li>

    <!-- carrinho -->
    <img
      *ngIf="user && !usuario_admin"
      [routerLink]="['/carrinho']"
      src="https://raw.githubusercontent.com/malufreitas/doacao-sangue-front-end/devMalu/images/carrinhoCompras.png"
      width="30"
      height="30"
      class="text-right text-danger"
    />
    <!-- carrinho -->

    <!-- Nome do usuário -->

    <!-- Implementando essa parte -->
    <li class="nav-link text-danger" *ngIf="!user">
      <a [routerLink]="['/login']">Login</a>
    </li>

    <!-- Logout -->
    <li class="nav-link text-danger" *ngIf="user">
      <a [routerLink]="" (click)="logout()">Sair</a>
    </li>

    <!-- Parte esquerda da barra de navegação -->
  </div>
</nav>

<!-- Onde da o espaço nas laterais do site 
<div class="container">
  <router-outlet></router-outlet>
</div>
-->

<router-outlet></router-outlet>
