<!-- <div class="container"> -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <!-- aqui tinha um navbar -->
    <div class="container-fluid">
      <!-- <app-confirmar-doacao *ngIf="opcao == 1"></app-confirmar-doacao> -->
      <!-- Página de dentro, onde vão aparecer as informações : CONTEUDO DA PAGINA-->
      <!-- </div> -->

      <table class="table">
        <thead>
          <tr class="bg-warning">
            <th scope="col">#</th>
            <th scope="col">Data da compra</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr
            class="table-warning"
            *ngFor="let compra of compras; let i = index"
          >
            <th scope="row">
              {{ i }}
            </th>
            <td *ngIf="tem == true">{{ compra.data }}</td>
            <td *ngIf="tem == true">{{ compra.valorTotal }}</td>
            <td *ngIf="compra.status == true && tem == true">Pago</td>
            <td *ngIf="compra.status == false && tem == true">Pendente</td>
            <td *ngIf="tem == false">{{ compra }}</td>
          </tr>
        </tbody>
      </table>

      <!-- </div> -->
      <!-- /#page-content-wrapper -->
    </div>
  </div>

  <!-- /#wrapper -->
  <!-- </div> -->
</div>
