body {
  background-color: darkred;
}
div {
  border: 70px solid darkred;
  background-color: darkred;
  padding: 0px;
  text-align: justify;
  text-justify: inter-word;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  color: #4caf50;
}

p {
  text-align: justify;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #008cba;
}
