<!-- <div class="container"> -->
<div class="d-flex" [ngClass]="{ toggled: app.cha }" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <!-- <div class="sidebar-heading">Meu teste</div> -->
    <div class="list-group list-group-flush">
      <a
        [routerLink]=""
        (click)="opcao = 0"
        class="list-group-item list-group-item-action bg-light"
        >Produtos</a
      >
      <a
        (click)="opcao = 1"
        class="list-group-item list-group-item-action bg-light"
        >Hemocentros</a
      >
      <a
        (click)="opcao = 2"
        class="list-group-item list-group-item-action bg-light"
        >Relatório</a
      >

      <a
        *ngIf="opcao == 2"
        (click)="opcao = 3"
        class="list-group-item list-group-item-action bg-light"
        >Demandas por hemocentro</a
      >
      <a
        *ngIf="opcao == 2"
        (click)="opcao = 4"
        class="list-group-item list-group-item-action bg-light"
        >Qtd de doadores</a
      >
      <a
        *ngIf="opcao == 2"
        (click)="opcao = 5"
        class="list-group-item list-group-item-action bg-light"
        >Qtd de demandas</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <!-- aqui tinha um navbar -->
    <div class="container-fluid">
      <app-produtos-lista *ngIf="opcao == 0"></app-produtos-lista>
      <app-gerencia-hemocentros *ngIf="opcao == 1"></app-gerencia-hemocentros>
      <app-relatorio1 *ngIf="opcao == 3"></app-relatorio1>
      <app-relatorio2 *ngIf="opcao == 4"></app-relatorio2>
      <app-relatorio3 *ngIf="opcao == 5"></app-relatorio3>
      <!-- <app-confirmar-doacao *ngIf="opcao == 1"></app-confirmar-doacao> -->
      <!-- Página de dentro, onde vão aparecer as informações : CONTEUDO DA PAGINA-->
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<!-- /#wrapper -->
<!-- </div> -->
